// COLORS
$mint: #329e41;
$pale-mint: #c4e0dd;
$green-dark: #026b47;


// GRAYS: Specified shades of gray are sorted light to dark
$gray-white: #f2f2f2;
$gray-bright: #eeeeee;
$gray-platinum: #e5e5e5;
$gray: #7e7e7e;
$gray-granite: #616161;
$gray-dark-charcoal: #333333;


// BACKGROUND COLORS
.bg-mint  {
  color: white;
  background: $mint;
}

.bg-black {
  color: white;
  background: black;
}


// COLOR MIXING
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


// SELECTION
::-moz-selection {
  color: white;
  background: $mint;
}

::selection {
  color: white;
  background: $mint;
}