// FOOTER
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2rem;
  color: white;
  text-align: center;
  background: $mint;
  nav {
    ul {justify-content: center;}
  }
  .brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .logo {
      max-width: 12rem;
      margin: 0 auto;
      padding: 0;
      svg {fill: white;}
    }
    p {
      @include font-weight-medium;
      font-size: 0.8rem;
    }
  }
  .contact {
    width: 100%;
    button, .button, a.button {
      margin: 2rem auto;
    }
  }
}

@media (orientation: landscape), (min-width: 46rem) {
  footer {
    .brand {
      width: 60%;
      p {max-width: 32rem;}
    }
  }
}