// HEADER
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  background: $mint;
  .logo {
    display: none;
    max-width: 16rem;
    margin: 0;
    padding: 0;
    @include transition (all, 0.25s, ease);
    will-change: transform;
    svg {fill: white;}
  }
}

.headroom {
  @include transition (all, 0.25s, ease);
  will-change: transform;
}

.headroom--pinned {
  @include transform (translateY(0));
  .logo {@include transform (translateY(0));}
}

.headroom--unpinned {
  @include transform (translateY(-100%));
  .logo {@include transform (translateY(-100%));}
}

@media (min-width: 46rem) {
  header {
    align-items: center;
    flex-direction: row;
    .logo {
      display: grid;
      width: 50%;
      a {
        svg {@include transition (all, 0.25s, ease);}
        &:hover, &:focus {
          svg {fill: $gray-granite;}
        }
      }
    }
  }
}