// MIXINS
@mixin transition($property: all, $duration: 0.325s, $easing: ease-in-out, $delay: 0s) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -ms-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin appearance($appearance: none) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
};

@mixin box-shadow($horizontal: 0.25rem, $vertical: 0.25rem, $blur: 0, $spread: 0, $color: gray) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
};