// WIDTH
.xl, .lg, .md, .sm, .xs {
  width: 100%;
}

.xl.always {width: 100%;}
.lg.always {width: 65%;}
.md.always {width: 50%;}
.sm.always {width: 35%;}
.xs.always {width: 50%;}

@media (min-width: 46rem) {
  .xl {width: 100%;}
  .lg {width: 65%;}
  .md {width: 50%;}
  .sm {width: 35%;}
  .xs, .xs.always {width: 25%;}
  .xl.end, .lg.end, .md.end, .sm.end {align-self: flex-end;}
}


// HEIGHT
.tall {min-height: 100vh;}
.short {min-height: 50vh;}


// VERTICAL ALIGNMENT
.ver-center {align-items: center;}
.bottom {justify-content: flex-end;}


// HORIZONTAL ALIGNMENT
.hor-center {text-align: center;}


// STACK
main {
  .content {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .box {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin: 0 auto;
      padding: 0;
      background-repeat: no-repeat;
      background-size: cover;
      picture {
        display: block;
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          width: auto;
          min-width: 100%;
          height: auto;
          min-height: 100%;
        }
      }
      .overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        mix-blend-mode: multiply;
      }
      .stack {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
        .box {
          min-height: 50vh;
          picture {
            min-height: 50vh;
            img {
              width: auto;
              min-width: inherit;
              height: 100%;
            }
          }
        }
        .box.top {min-height: 35vh;}
        .box.bottom {min-height: 65vh;}
      }
    }
    .box.top {
      justify-content: flex-start;
      .text {padding: 1rem 2rem 2rem;}
    }
    .box.bottom {
      justify-content: flex-end;
      .text {padding: 2rem 2rem 0;}
    }
  }
}


// TEXT
.text {
  display: block;
  position: relative;
  margin: 0;
  padding: 2rem;
  p:first-child {padding: 0;}
}

.text.white {color: white;}

.text.big {
  h2 {font-size: 2.802rem;}
  p {
    max-width: none;
    font-size: 1.25rem;
  }
  p.scroll {
    margin: 1rem 0 0;
    font-size: 1rem;
    a {
      margin: 0;
      padding: 0.5rem 1rem;
      border: 1px solid $mint;
      &:hover, &:focus {
        color: white;
        background: $mint;
      }
    }
  }
}

@media (min-width: 46rem) {
  .text.big {
    h2 {font-size: 450%;}
    p {font-size: 1.563rem;}
  }
}

@media (min-width: 88rem) {
  .text.big {
    h2 {font-size: 600%;}
    p {font-size: 1.953rem;}
  }
}


// LOGO
.logo {
  display: grid;
  width: calc(100% - 4rem);
  margin: 0 auto 2rem;
  padding: 0;
}

.logo.white {
  svg {fill: white;}
}

@media (orientation: landscape), (min-width: 46rem) {
  .logo {
    align-self: flex-start;
    width: calc(80% - 4rem);
    margin: 0;
    padding: 0 2rem;
  }
}


/* BACKGROUND IMAGE USAGE */
.chase {
  background-image: url(../images/chase-jiggiemon-wilson-unsplash-1x.jpg);
  background-position: right bottom;
}

.christina {
  background-image: url(../images/christina-wocintechchat-com-unsplash-1x.jpg);
  background-position: left top;
}

.disruptivo {
  background-image: url(../images/disruptivo-unsplash-1x.jpg);
  background-position: center;
}

.felicia {
  background-image: url(../images/felicia-buitenwerf-unsplash-1x.jpg);
  background-position: right bottom;
}

.nesa {
  background-image: url(../images/nesa-by-makers-unsplash-1x.jpg);
  background-position: right center;
}

.nesab {
  background-image: url(../images/nesa-by-makers-unsplash-v2-1x.jpg);
  background-position: center;
}

.oleg {
  background-image: url(../images/oleg-ivanov-unsplash-1x.jpg);
  background-position: center top;
}

.thisis {
  background-image: url(../images/thisisengineering-raeng-unsplash-1x.jpg);
  background-position: center top;
}

.topo {
  background-image: url(../images/topography.png);
  background-repeat: repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 46rem) {
  .chase {background-image: url(../images/chase-jiggiemon-wilson-unsplash-2x.jpg);}
  .christina {background-image: url(../images/christina-wocintechchat-com-unsplash-2x.jpg);}
  .disruptivo {background-image: url(../images/disruptivo-unsplash-2x.jpg);}
  .felicia {background-image: url(../images/felicia-buitenwerf-unsplash-2x.jpg);}
  .nesa {background-image: url(../images/nesa-by-makers-unsplash-2x.jpg);}
  .nesab {background-image: url(../images/nesa-by-makers-unsplash-v2-1x.jpg);}
  .oleg {background-image: url(../images/oleg-ivanov-unsplash-1x.jpg);}
  .thisis {background-image: url(../images/thisisengineering-raeng-unsplash-1x.jpg);}
}