// HIND FONT WEIGHTS
@mixin font-weight-thin {font-weight: 100;}
@mixin font-weight-xlight {font-weight: 200;}
@mixin font-weight-light {font-weight: 300;}
@mixin font-weight-regular {font-weight: 400;}
@mixin font-weight-medium {font-weight: 500;}
@mixin font-weight-semi-bold {font-weight: 600;}
@mixin font-weight-bold {font-weight: 700;}
@mixin font-weight-xbold {font-weight: 800;}
@mixin font-weight-black {font-weight: 900;}


// TYPOGRAPHY: all typography is set to a 1.250 Major-Third type-scale
h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  @include font-weight-bold;
  line-height: 1.125;
}

h1 {font-size: 3.502rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}

p {
  max-width: 40rem;
  padding: 1rem 0 0;
  font-size: 1rem;
}

small {font-size: 0.8rem;}

p.xsmall {font-size: 0.64rem;}
p.xxsmall {font-size: 0.512rem;}

strong, em {@include font-weight-bold;}

.bold {@include font-weight-bold;}


// SPACING
h2 + h3,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol {padding: 0.512rem 0 0;}

p + h1, p + h2, p + h3, p + h4, p + h5,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5,
dl + h1, dl + h2, dl + h3, dl + h4, dl + h5 {padding: 2rem 0 0;}


// TEXT LINKS
h1 a, h2 a, h3 a, h4 a, h5 a, p a,
small a, strong a, em a, a {
  @include font-weight-bold;
  color: $mint;
}


// VISUALLY HIDDEN
.visuallyhidden {display: none;}


// ORDERED LISTS
ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: count;
  li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid $mint;
    border-radius: 0.25rem;
    span {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin: 0 0 0.5rem;
      line-height: 1;
    }
    span::before {
      flex: 0 1 auto;
      width: auto;
      height: auto;
      padding: 0;
      @include font-weight-bold;
      font-size: 2.441rem;
      counter-increment: count;
      content: "0" counter(count);
    }
    span::after {
      display: block;
      width: 100%;
      height: 1px;
      margin: 0;
      background: $mint;
      content: "";
    }
  }
}

@media (orientation: landscape), (min-width: 46rem) {
  ol {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li {width: calc(50% - 1rem);}
  }
}

@media (orientation: landscape), (min-width: 62rem) {
  ol {
    li {width: calc(25% - 1rem);}
  }
}