.bg-mint {
  color: white;
  background: #329e41; }

::-moz-selection {
  color: white;
  background: #329e41; }

::selection {
  color: white;
  background: #329e41; }

html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: black;
  scroll-behavior: smooth;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

body, .body {
  width: 100%;
  height: auto;
  min-height: 101vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

img {
  width: 100%;
  height: auto;
  margin: 0; }

h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  color: inherit; }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.125; }

h1 {
  font-size: 3.502rem; }

h2 {
  font-size: 2.441rem; }

h3 {
  font-size: 1.953rem; }

h4 {
  font-size: 1.563rem; }

h5 {
  font-size: 1.25rem; }

p {
  max-width: 40rem;
  padding: 1rem 0 0;
  font-size: 1rem; }

small {
  font-size: 0.8rem; }

p.xsmall {
  font-size: 0.64rem; }

p.xxsmall {
  font-size: 0.512rem; }

strong, em {
  font-weight: 700; }

.bold {
  font-weight: 700; }

h2 + h3,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul,
h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol {
  padding: 0.512rem 0 0; }

p + h1, p + h2, p + h3, p + h4, p + h5,
ul + h1, ul + h2, ul + h3, ul + h4, ul + h5,
ol + h1, ol + h2, ol + h3, ol + h4, ol + h5,
dl + h1, dl + h2, dl + h3, dl + h4, dl + h5 {
  padding: 1rem 0 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, p a,
small a, strong a, em a, a {
  font-weight: 700;
  color: #329e41; }

.visuallyhidden {
  display: none; }

.skip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .skip a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: white;
    opacity: 0;
    font-weight: 700;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s; }
  .skip a:focus {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    opacity: 1;
    color: #329e41; }

.xl, .lg, .md, .sm, .xs {
  width: 100%; }

.xl.always {
  width: 100%; }

.lg.always {
  width: 65%; }

.md.always {
  width: 50%; }

.sm.always {
  width: 35%; }

.xs.always {
  width: 50%; }

@media (min-width: 46rem) {
  .xl {
    width: 100%; }
  .lg {
    width: 65%; }
  .md {
    width: 50%; }
  .sm {
    width: 35%; }
  .xs, .xs.always {
    width: 25%; }
  .xl.end, .lg.end, .md.end, .sm.end {
    align-self: flex-end; } }

.tall {
  min-height: 100vh; }

.short {
  min-height: 50vh; }

.ver-center {
  align-items: center; }

.hor-center {
  text-align: center; }

main .content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  main .content .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 0; }
    main .content .box .stack {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      overflow: hidden; }
    main .content .box picture {
      display: block;
      position: relative;
      width: 100%;
      min-height: 50vh; }
      main .content .box picture img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        height: 100%; }
  main .content .box.tall .stack picture {
    min-height: 50vh; }
  main .content .box.tall .stack .text {
    padding: 2rem; }

@media (orientation: landscape) {
  main .content .box picture img {
    min-width: 100%;
    height: auto; } }

@media (min-width: 46rem) {
  main .content .box.tall .stack picture {
    min-height: 65vh; } }

.text {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 2rem 2rem; }
  .text p:first-child {
    padding: 0; }
  .text p.big {
    font-weight: 700;
    font-size: 300%;
    line-height: 1.25; }

@media (orientation: landscape) {
  .text {
    padding: 2rem; } }
